{% extends "base.html" %}
{% block title %}About us{% endblock %}

{% block content  %}

  <div class="container p-4">
    <div class="p-5 mt-4" style="background-color:#e6fff2;">
      <h3 class="mb-2">About Us</h3>
      <p class="text-justify mt-4">We are Here To help the students to get Pg for their destination .The process of finding accommodation was relatively very difficult and made it trouble for students and parents to find room in campus thus to overcome this portal was designed. </p>
      <p>In order to make easy for the customer to find their best place to live happily , we have built a web application that acts as an user friendly for custmor to find their required PG   in short period of time.</p>
      
  </div>
</div>
<p><center><b>CONTACT US</b></center></p> 
<p><center><b>Phone number</b>:9989945729</center></p>
<p><center><b>Email</b>:chaithrachinnmay</center></p>



</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    <!-- Added your Javascript code -->
</script>
{% endblock %}